*{
    margin: 0;
    padding: 0;
}

body{
    margin: 100px 200px 100px 650px ;
    background-color: orange;
}
img{
    padding-right:10px ;
    mix-blend-mode: multiply;
    width: 50px;
    height: 50px;
}

.sty{
    padding-top:10px ;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
    margin: 10px 0px 10px 0px ;
}

.main{
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:flex-start;
}
.are{
    padding: 0px 10px 0px 10px;
    background-color: #fff;
    width: 310px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 15px 15px rgba(41, 39, 39, 0.356);
}
p{
    padding-bottom: 20px;
}
.inp{
    width: 310px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}
button{
    width:130px;
    height: 40px;
    border-radius: 25px;
    background-color: #00b7eb;
    position: relative;
    top: 15px;
}

i{
    padding-top: 25px;
}

button:hover{
    cursor: pointer;
}
h3{
    font-weight: bold;
}